.footer__links {
  max-width: 342px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  margin: 0 auto;
  padding: 46px 0 123px;

  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

@media (max-width: 425px) {
  .footer__links {
    padding: 0 30px;
  }

  .footer__text {
    padding: 48px 30px 90px;
    max-height: 64px;

    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
