.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 33px 0 32px;
  border-bottom: 1px solid #828282;
}

.header__link {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #828282;
  transition: 0.3s;
}

.header__link:hover {
  color: #070707;

  transition: 0.3s;
}

.header__burger {
  display: none;
}

/* Начало медиа-запроса для мобильной версии */

@media (max-width: 425px) {
  .header__menu {
    display: none;
  }

  .header__burger {
    display: block;
    position: fixed;
    top: 68px;
    right: 30px;
  }
}